// HEADER :: START

section#main.main

  include ../../macros/_swiper

  .main.main--wbg
    .main__box
      .main__box-head
        .main__box-left
          p!= "SERIOUS ABOUT <br>MAKING MONEY?"
        .main__box-right
          p!= "SO ARE WE!"
      .main__box-body
        p!= "We’ll make you a successful Forex trader beyond your wildest dreams."


// HEADER :: END