// REGISTER CONTACTS :: START

section.register
	.container
		p.register__title Register for a free forex workshop
		p.register__sub-title We have a proven track record of growing entrepreneurially-minded Forex traders. We look forward to welcoming you to one of our workshops in your area.
		a.nav__btn.btn(href="#get-started" popup-js data-effect="mfp-zoom-in") Book now

// REGISTER CONTACTS :: END