// REGISTER CONTACTS :: START

section.welcome
	.container
		p.welcome__title Welcome to IFX Academy Customer Support Services
		p.welcome__sub-title IFX looks forward to assisting you and is confident <br>that you will have a pleasant and successful experience.
		.welcome__grid
			.welcome__item
				a(href="#") info@ifxacademy.com
				p General Enquiries
			.welcome__item
				a(href="#") learn@ifxacademy.com 
				p Learning Support
		a.nav__btn.btn(href="#") Submit a question

// REGISTER CONTACTS :: END