---
title: Home
favicon: favicon

contentClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include components/home/_main
    include components/home/_level
    include components/home/_study