// MODULE :: START

.module {
  position: relative;


  &__wrapper {
    min-height: 100vh;
  }


  &__section {
    min-height: 100vh;
    padding-top: 220px;
    padding-bottom: 128px;
    @include respond(max-small) {
      padding-top: 100px;
      padding-bottom: 100px;
    }



    &-head {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 53px;
      @include respond(max-small) {
        display: none;
      }


      a {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1;
        color: $c-black;
        font-size: 50px;
        font-weight: bold;
        font-family: "Rajdhani", sans-serif;
        @include transition(color);
        @include respond(max-large) {
          font-size: 44px;
        }
        @include respond(max-medium) {
          font-size: 38px;
        }


        &.is-active {
          @include transition(color);
        }
        &.is-active[data-module-id="0"] {
          color: $c-torchRed;
        }
        &.is-active[data-module-id="1"] {
          color: $c-jewel;
        }
        &.is-active[data-module-id="2"] {
          color: $c-navyBlue;
        }
      }
    }


    &-body {
      position: relative;
      width: 100%;
      max-width: 1160px;
      min-height: 625px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;


      &--0,
      &--1,
      &--2 {
        display: none;
        border-radius: 4px;
        background-color: $c-whiteSmoke;
        box-shadow: 0 4px 30px 0 rgba($c-black, 0.1);
        @include respond(max-small) {
          display: flex;
          box-shadow: none;
          background-color: $c-white;
        }


        &.is-active {
          display: flex;
        }
      }


      &--left {
        overflow: hidden;
        overflow-y: auto;
        width: 460px;
        max-height: 625px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: $c-blackRussian;
        @include respond(max-large) {
          width: 400px;
        }
        @include respond(max-medium) {
          width: 350px;
        }
        @include respond(max-small) {
          display: none;
        }
      }


      &--right {
        overflow: hidden;
        width: 100%;
        max-width: calc(100% - 460px);
        padding: 30px;
        @include respond(max-large) {
          max-width: calc(100% - 400px);
        }
        @include respond(max-medium) {
          max-width: calc(100% - 350px);
        }
        @include respond(max-small) {
          max-width: 100%;
          padding: 0 30px;
        }
        @include respond(max-extra-small) {
          padding: 0 15px;
        }


        .module__section-btn {
          @include respond(medium) {
            display: none;
          }
        }
        h1 {
          padding-top: 30px;
          padding-bottom: 30px;
          color: $c-black;
          font-size: 38px;
          font-weight: bold;
          font-family: "Rajdhani", sans-serif;
          @include respond(medium) {
            display: none;
          }


          .module__section-body--0 & {
            color: $c-torchRed;
          }
          .module__section-body--1 & {
            color: $c-jewel;
          }
          .module__section-body--2 & {
            color: $c-navyBlue;
          }
        }
      }
    }


    &-btn {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      @include respond(max-small) {
        background-color: $c-blackRussian;
      }


      a {
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 103px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 4px;
        box-shadow: inset 0 -1px 0 0 rgba($c-white, 0.1);
        @include transition(background-color);
        @include respond(max-extra-small) {
          height: 83px;
          padding-left: 15px;
          padding-right: 15px;
        }


        &:last-child {
          box-shadow: none;
          @include respond(max-small) {
            box-shadow: inset 0 -1px 0 0 rgba($c-white, 0.1);
          }
        }


        &:hover {
          background-color: $c-bastille;
          @include transition(background-color);
        }
        
        
        &.is-active {
          background-color: $c-bastille;


          .module__section-body--0 & {
            span {
              background-color: $c-torchRed;
              @include transition(background-color);
            }
          }


          .module__section-body--1 & {
            span {
              background-color: $c-jewel;
              @include transition(background-color);
            }
          }


          .module__section-body--2 & {
            span {
              background-color: $c-navyBlue;
              @include transition(background-color);
            }
          }
        }


        > div {
          &:first-child {
            width: 65px;
            @include respond(max-extra-small) {
              width: 55px;
            }


            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 45px;
              height: 45px;
              color: $c-white;
              border-radius: 100%;
              background-color: rgba($c-grey, 0.5);
              @include transition(background-color);
              @include respond(max-extra-small) {
                width: 35px;
                height: 35px;
                font-size: 14px;
              }
            }
          }


          &:last-child {
            width: calc(100% - 65px);
            @include respond(max-extra-small) {
              width: calc(100% - 55px);
            }


            p {
              color: $c-white;


              &:first-child {
                opacity: 0.5;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;
                @include respond(max-extra-small) {
                  font-size: 10px;
                }
              }


              &:last-child {
                font-size: 22px;
                font-weight: bold;
                font-family: "Rajdhani", sans-serif;
                @include respond(max-extra-small) {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }


    &-content {
      overflow: hidden;
      overflow-y: auto;
      display: none;
      height: calc(625px - 60px);
      padding: 45px 60px;
      border-radius: 4px;
      background-color: $c-white;
      box-shadow: 0 1px 3px 0 rgba($c-black, 0.1);
      @include respond(max-small) {
        height: auto;
      }
      @include respond(max-extra-small) {
        padding: 30px 15px;
      }


      &.is-active {
        display: block;
        @include respond(max-small) {
          display: none;
        }
      }
    }


    &-badge {
      color: rgba($c-black, 0.5);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
    }


    &-title {
      padding-bottom: 30px;
      color: $c-black;
      line-height: 1;
      font-size: 32px;
      font-weight: bold;
      font-family: "Rajdhani", sans-serif;
    }


    &-text {
      padding-bottom: 25px;
      font-size: 18px;
    }


    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 235px;
      height: 50px;
      border-radius: 4px;
      color: $c-white;
      font-size: 18px;
      font-weight: bold;
      @include transition(background-color);


      .module__section-body--0 & {
        background-color: $c-torchRed;


        &:hover {
          background-color: rgba($c-torchRed, 0.9);
          @include transition(background-color);
        }
      }


      .module__section-body--1 & {
        background-color: $c-jewel;


        &:hover {
          background-color: rgba($c-jewel, 0.9);
        }
      }


      .module__section-body--2 & {
        background-color: $c-navyBlue;


        &:hover {
          background-color: rgba($c-navyBlue, 0.9);
        }
      }
    }
  }
}

@keyframes flipCustom {
  from {
    transform: perspective(1160px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(1160px) scale3d(0.975, 0.975, 0.975) translate3d(0, 0, 50px) rotate3d(0, 1, 0, -0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(1160px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}

.animated.flipCustom {
  backface-visibility: visible;
  animation-duration: 0.85s;
  animation-name: flipCustom;
}

// MODULE :: END