// HEADER :: START

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(background-color);


  &--fixed {
    background-color: rgba($c-blackRussian, 0.9);
    @include transition(background-color);

    .header__wrapper {
      min-height: 70px;
      @include transition(min-height);
      @include respond(max-small) {
        min-height: 60px;
      }
    }
  }


  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1833px;
    min-height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @include transition(min-height);
    @include respond(max-small) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      min-height: 60px;
      background-color: rgba($c-blackRussian, 0.9);
    }
  }


  &__row {
    display: flex;
    align-items: center;


    &-0,
    &-1,
    &-2 {
      display: flex;
    }


    &-3 {
      display: none;
      @include respond(max-small) {
        display: block;
      }
    }


    &-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 183px);
      @include respond(max-small) {
        display: none;
      }


      &.is-active {
        @include respond(max-small) {
          z-index: 10;
          overflow-y: auto;
          display: block;
          position: fixed;
          left: 0;
          top: 60px;
          width: 100%;
          height: calc(100% - 60px);
          padding-top: 189px;
          padding-bottom: 100px;
          background-color: rgba($c-blackRussian, 0.9);
        }
      }
    }


    &-0 {
      width: 100%;
      max-width: 183px;
      @include respond(max-medium) {
        max-width: 163px;
      }
    }


    &-1 {
      width: 100%;
      max-width: calc(100% - (183px - 350px));
      @include respond(max-medium) {
        max-width: calc(100% - (163px - 220px));
      }
    }


    &-2 {
      justify-content: flex-end;
      width: 100%;
      max-width: 350px;
      @include respond(max-medium) {
        max-width: 220px;
      }
      @include respond(max-small) {
        flex-direction: column;
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;


        .nav__link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 40px;
          margin-top: 20px;
          border-radius: 3px;
          border: 1px solid transparent;
          background-color: $c-white;
          color: $c-blackRussian;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

// HEADER :: END