// HEADER :: START

.header {
  @include respond(medium) {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include transition(background-color);
  }
  @include respond(max-small) {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }


  &--fixed {
    background-color: $c-blackRussian;
    box-shadow: 0 0 10px 2px rgba($c-blackRussian, 0.15);
    @include transition(background-color);

    .header__wrapper {
      min-height: 90px;
      @include transition(min-height);
    }
  }


  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1833px;
    min-height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @include transition(min-height);
    @include respond(max-small) {
      flex-wrap: wrap;
      min-height: 80px;
      padding-top: 20px;
    }
  }


  &__row {
    display: flex;
    align-items: center;


    &-0,
    &-1,
    &-2 {
      display: flex;
    }


    &-0 {
      width: 100%;
      max-width: 183px;
      @include respond(max-medium) {
        max-width: 163px;
      }
      @include respond(max-small) {
        order: 1;
        max-width: 35%;
      }
    }


    &-1 {
      width: 100%;
      max-width: calc(100% - (183px - 350px));
      @include respond(max-medium) {
        max-width: calc(100% - (163px - 220px));
      }
      @include respond(max-small) {
        order: 3;
        justify-content: center;
        max-width: 100%;
        padding-top: 33px;
      }
    }


    &-2 {
      justify-content: flex-end;
      width: 100%;
      max-width: 350px;
      @include respond(max-medium) {
        max-width: 220px;
      }
      @include respond(max-small) {
        order: 2;
        max-width: 65%;
      }
    }
  }
}

// HEADER :: END