// MAIN :: START
.main {
  position: relative;


  &--wbg {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 760px;
    padding-left: 15px;
    padding-right: 15px;
    @include respond(max-small) {
      position: static;
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: 1584px) {
      max-width: 1554px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  &__swiper{
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 1080px;
    @include respond(max-small) {
      min-height: 0;
      max-height: 546px;
    }
  }


  &__title {
    z-index: 10;
    position: relative;
    padding-bottom: 20px;
    line-height: 1;
    color: $c-white;
    font-size: 100px;
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
    @include respond(max-extra-large) {
      font-size: 90px;
    }
    @include respond(max-large) {
      font-size: 80px;
    }
    @include respond(max-medium) {
      font-size: 60px;
    }
    @include respond(max-small) {
      text-align: center;
      font-size: 40px;
    }
  }


  &__text {
    z-index: 10;
    position: relative;
    color: $c-white;
    font-size: 32px;
    @include respond(max-large) {
      font-size: 26px;
    }
    @include respond(max-medium) {
      font-size: 21px;
    }
    @include respond(max-small) {
      padding-bottom: 37px;
      text-align: center;
      font-size: 16px;

      br {
        display: none;
      }
    }
  }


  &__box {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    height: 280px;
    background-color: $c-torchRed;
    color: $c-white;


    &-head {
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 64px;
      padding-bottom: 38px;
      @include respond(max-small) {
        flex-wrap: wrap;
        padding-top: 43px;
        padding-bottom: 19px;
      }
    }


    &-left,
    &-right {
      width: 50%;
      font-weight: bold;
      font-family: "Rajdhani", sans-serif;
      @include respond(max-small) {
        width: 100%;
      }
    }


    &-left {
      padding-left: 90px;
      font-size: 32px;
      @include respond(max-small) {
        padding-left: 0;
        padding-bottom: 16px;
        text-align: center;
      }

      p {
        line-height: 1;
      }
    }


    &-right {
      font-size: 66px;
      @include respond(max-small) {
        text-align: center;
        font-size: 40px;
      }

      p {
        line-height: 1;
      }
    }


    &-body {
      width: 100%;
      max-width: 417px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 18px;
      @include respond(max-small) {
        width: 100%;
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 35px;
      }
    }
  }
}

// MAIN :: END