// STUDY :: START

.study {
  padding-top: 75px;
  padding-bottom: 145px;
  background-color: $c-whiteSmoke;
  @include respond(max-small) {
    padding-top: 40px;
    padding-bottom: 80px;
  }


  &__wrapper {
    width: 100%;
    max-width: 1298px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }


  &__tabs {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1024px;
      min-height: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 105px;
      @include respond(max-large) {
        margin-bottom: 85px;
      }
      @include respond(max-small) {
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 40px;
      }
    }


    &-body {
      display: none;


      &.is-active {
        display: flex;
        @include respond(max-small) {
          flex-wrap: wrap;
        }
      }


      &--left,
      &--right {
        width: 50%;
        @include respond(max-small) {
          width: 100%;
        }
      }


      &--left {
        img {
          display: block;
          max-width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }


      &--right {
        padding-left: 30px;
        @include respond(max-small) {
          padding-top: 40px;
          padding-left: 0;
        }
      }
    }


    &-link {
      opacity: 0.5;
      color: $c-black;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      @include transition(opacity);
      @include respond(max-large) {
        font-size: 14px;
      }
      @include respond(max-small) {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }


      &.is-active {
        opacity: 1;
        @include transition(opacity);
      }
      &:hover {
        opacity: 1;
        @include transition(opacity);
      }
    }


    &-title {
      padding-bottom: 30px;
      font-size: 28px;
      font-weight: 900;
      @include respond(max-large) {
        font-size: 24px;
      }
    }


    &-text {
      padding-bottom: 50px;
      font-size: 20px;
      @include respond(max-large) {
        font-size: 18px;
      }
    }


    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 235px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid transparent;
      background-color: $c-torchRed;
      color: $c-white;
      font-size: 18px;
      font-weight: bold;
      @include transition(color, border-color, background-color);


      &:hover {
        border-color: rgba($c-black, 0.1);
        background-color: $c-white;
        color: $c-blackRussian;
        @include transition(color, border-color, background-color);
      }
    }
  }
}

// STUDY :: END