// HOW-IT-WORKS MAIN :: START

section.h-main
	.container
		.h-main__grid
			.h-main__left
				h1.main__title How it works
				p.h-main__sub-title We have selected International FX Brokers (FSP 40821) as our exclusive Forex trading partner. Facilitating a one stop trading and investing experience for private and institutional clients, IFX Brokers provide access to global markets and a broad range of asset classes and tradeable instruments. 
				p.h-main__sub-title IFX Brokers offer complimentary access to the IFX Academy to all live account holders with an account balance of $250 or more.
				p.h-main__sub-terms (Terms and Conditions apply)
			.h-main__right
				img(src="img/certificate.png", alt="")
		.enrol
			.enrol__grid
				h2 ENROL  <br>AND GET
				.enrol__grid.enrol__grid--editable
					.enrol__item
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Full access to the IFX Academy portal
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Chart Patterns
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Advanced charting Analyis
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Detailed trading strategies
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Detailed practical execution of IFXT trading strategies
					.enrol__item
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p IFX Company News
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Chart Patterns
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p 24/5 Email Support
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p Advance Charting Analysis
						.enrol__line
							.enrol__line-img
								img(src="img/check.svg", alt="")
							p History of charting setups, strategies and a wealth of educational material


// HOW-IT-WORKS MAIN :: END