// HOW-IT-WORKS TRADING :: START

section.trading
	.container
		p.trading__title Trading in 3 easy steps
		.trading__grid
			.trading__item
				p.trading__item-title Step 1
				.trading__item-container
					.trading__info
						p Open your LIVE IFX Brokers trading Account and deposit $250 or more into your trading account
					img(src="img/step-1.png", alt="")
			.trading__item
				p.trading__item-title Step 2
				.trading__item-container
					.trading__info
						p Receive your IFX Academy Access
					img(src="img/step-2.png", alt="")
		.trading__start
			p.trading__title Step 3 — Start learning
			a.nav__btn.btn(href="#") Start learning now

// HOW-IT-WORKS TRADING :: END