// COURSES :: START

section#mainc.mainc
  .mainc__wrapper

    h1.mainc__title!= "OUR COURSES"
    p.mainc__text!= "Each course, ranging from a beginner level through intermediate and culminating in the advanced level, is carefully designed to optimise your knowledge whether you are starting out or a seasoned professional."

// COURSES :: END