// REGISTER CONTACTS :: START

section.questions
	.container
		.questions__item
			p.questions__title How much does IFX Brokers charge for training?
			p.questions__answer As a value-added services IFX Brokers offer complimentary access to the Forex Training for Professionals Course to all LIVE funded accounts held with IFX Brokers.
		.questions__item
			p.questions__title Do I have to attend classes?
			p.questions__answer No. Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules. Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course.
		.questions__item
			p.questions__title How do I receive my training material?
			p.questions__answer Since you’ll be referring to it time and time again you will have full access to study material in a customized portal linked directly to your secured client area. Your course material is packed with examples, explanations, a glossary and interactive assignments.
		.questions__item
			p.questions__title Can I enrol for training without a LIVE account?
			p.questions__answer No. The IFX Academy is an exclusive value-added service to IFX Live funded account holders.
		.questions__item
			p.questions__title What happens if I lose money and have a zero balance in my trading account. Will I still be able to access IFX Academy?
			p.questions__answer As a value-added services IFX Brokers offer complimentary access to the Forex Training for Professionals Course to all LIVE funded accounts held with IFX Brokers.
		.questions__item
			p.questions__title Does IFX Academy offer ongoing training?
			p.questions__answer Yes. The IFX Academy is an interactive portal and new material is constantly added to your advantage.

// REGISTER CONTACTS :: END